@*手动添加布局模板*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "添加学生";
}

@Styles.Render("~/Content/css")

<div class="container-fluid">
    <h2>这里是添加学生模块</h2>
    <table class="table table-condensed table-hover">
        <caption>精简表格布局</caption>
        <thead>
            <tr>
                <th>名称</th>
                <th>城市</th>
                <th>邮编</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tanmay</td>
                <td>Bangalore</td>
                <td>560001</td>
            </tr>
            <tr>
                <td>Sachin</td>
                <td>Mumbai</td>
                <td>400003</td>
            </tr>
            <tr>
                <td>Uma</td>
                <td>Pune</td>
                <td>411027</td>
            </tr>
        </tbody>
    </table>
</div>

