
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" XOL学生管理系统" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/Content/login.css")
    <link href=../../Content" rel="stylesheet" type="text/css" media="all" />
    <!-- <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>登录XOL学生管理系统</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                <form action="#" method="post">
                    <input type="text" name="name" placeholder="请输入账号" required="" />
                    <input type="password" name="password" class="padding" placeholder="请输入密码" required="" />
                    <input type="submit" value="登录">
                </form>
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>&copy; @DateTime.Now.Year - 软件1161小组版权所有</p>
        </div>
    </div>
</body>
</html>
